{% extends 'base.html.twig' %}

{% block title %}New Intervenants{% endblock %}

{% block body %}
    <h1>Create new Intervenants</h1>

    {{ include('intervenants/_form.html.twig') }}

    <a href="{{ path('app_intervenants_index') }}">back to list</a>
{% endblock %}
