{% extends 'base.html.twig' %}

{% block title %}Edit Lyceens{% endblock %}

{% block body %}
    <h1>Edit Lyceens</h1>

    {{ include('lyceens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lyceens_index') }}">back to list</a>

    {{ include('lyceens/_delete_form.html.twig') }}
{% endblock %}
